.App {
  background-image: url('/public/pics/magicpattern-mesh-gradient-1706170069987.png');
  text-align: center;

}

.battle-area {
  margin-top: 100px;
  margin-bottom: 75px;
  display: inline-block;
  width: 900px;
  position: relative;
  background-image: url('https://pbs.twimg.com/media/FVdYl2SUUAA1Pe3?format=png&name=large');
  background-size: cover;
  height: 500px;
}

.pokemon-name,.pokemon-hp,.pokemon-stat {
  border: solid;
  border-radius: 6px;
  width: 150px;
}

.pokemon-hp {
  background-color: bisque;
}

.pokemon-stat {
  background-color: honeydew;
}

.player-pokemon .pokemon-stat {
  display: inline-block;
  height: 30px;
  position: relative;
  left: -280px;
  width: 150px;
  top: -400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.enemy-pokemon .pokemon-stat {
  display: inline-block;
  height: 30px;
  position: relative;
  left: 295px;
  width: 150px;
  top: -380px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pokemon-name {
  background-color:linen;
}

.enemy-pokemon {
  display: inline-block;
  height: 30px;
  position: relative;
  left: 160px;
  width: 100px;
  top: 110px;
}

.player-pokemon {
  display: inline-block;
  height: 30px;
  position: relative;
  left: -230px;
  width: 100px;
  top: 140px;
}

.locations {
  border: solid;
  width: 300px;
  height: 100px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.allPokemons {
  display: flex;
  width: 50px;
  margin: 10px 10px;
}

.enemyPokemonContainer{
  position: absolute;
  right: 100px;
  
}

.pokemons, .enemy-pokemons {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  left: -100px;
}

.userPokemons, .enemyPokemons{
  width: 100%;
  height: 100%;
margin: 10px 10px;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.pokemons:hover .userPokemons, .enemy-pokemons:hover .enemyPokemons {
  transform: rotateY(180deg);
}
.pokemon-front,
.pokemon-back,
.enemy-pokemon-front,
.enemy-pokemon-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokemon-front, .enemy-pokemon-front {
  background-color: #400462;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #25033ba8;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  transform: rotateY(0deg);
}
.pokemon-back, .enemy-pokemon-back {
  background-color: #063504;
  color: #fff;
  display: inline-block;
  align-items: center;
  border: 10px solid #144e0a;
  border-radius: 10px;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  transform: rotateY(180deg);
}

.locations h1 {
  position: relative;
  top: -50px;
  text-shadow: 1px 1px 2px rgb(239, 251, 5), 0 0 1em rgba(14, 243, 247, 0.775), 0 0 0.2em rgba(7, 243, 239, 0.293);
  height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.users-pokemon {
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-page {
  background-image: url('/public/pics/1200224-3840x2160-desktop-4k-ghost-pokemon-background-image.jpg');
  display: inline-block;
}