.App {
  background-image: url("/public/pics/magicpattern-mesh-gradient-1706170069987.png");
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.battle-area {
  margin-top: 100px;
  margin-bottom: 75px;
  display: inline-block;
  width: 900px;
  position: relative;
  background-image: url("https://pbs.twimg.com/media/FVdYl2SUUAA1Pe3?format=png&name=large");
  background-size: cover;
  height: 500px;
}

.pokemon-pic {
  image-rendering: pixelated;
}

.damaged {
  filter: grayscale(100%);
}

.pokemon-pic-defeat-enemy {
  image-rendering: pixelated;
  transform: scale(4, 4);
  transform: rotate(120deg);
}

.pokemon-pic-defeat-player {
  image-rendering: pixelated;
  transform: rotate(-120deg);
}

.pokemon-name,
.pokemon-hp,
.pokemon-stat {
  border: solid;
  border-radius: 6px;
  width: 150px;
}

.pokemon-hp {
  background-color: bisque;
}

.pokemon-stat {
  background-color: honeydew;
}

.player-pokemon .pokemon-stat {
  display: inline-block;
  height: 30px;
  position: absolute;
  left: -290px;
  width: 150px;
  top: -150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.player-pokemon .pokemon-hp {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 150px;
  top: -20px;
}

.player-pokemon .pokemon-name {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 150px;
  top: 180px;
}

.enemy-pokemon .pokemon-hp {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 150px;
  top: -20px;
}

.enemy-pokemon .pokemon-name {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 150px;
  top: 220px;
}

.enemy-pokemon .pokemon-stat {
  display: inline-block;
  height: 30px;
  position: absolute;
  left: 345px;
  width: 150px;
  top: -100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pokemon-name {
  background-color: linen;
}

.enemy-pokemon {
  display: inline-block;
  height: 30px;
  position: absolute;
  left: 560px;
  width: 100px;
  top: 100px;
}

.player-pokemon {
  display: inline-block;
  height: 30px;
  position: absolute;
  left: 130px;
  width: 100px;
  top: 150px;
}

.fixed-button-arena {
  position: absolute; 
  left: 35%;
  top: 400px;
}
.fixed-button-random {
  position: absolute; 
  left: 45%;
  top: 400px;
}

.customButton { 
border:10px solid #000000;
border-radius:50px;
padding:10px;
 margin:10px;
background-color:#F9F9F9;
color:#000000;
font-weight:bold;
opacity:1;
transition:1s;
} 
.customButton:hover {
cursor:pointer;
background-color:#F9F9F9;
opacity:0.5;
transition:1s;
color:#000000;
} 


.back-to-location {
  margin-top: 40px;
}

.locations {
  border: solid;
  width: 300px;
  height: 100px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.allPokemons {
  display: flex;
  width: 50px;
  margin: 10px 10px;
}

.enemyPokemonContainer {
  position: absolute;
  right: 100px;
}

.pokemons,
.enemy-pokemons {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  left: -100px;
}

.userPokemons,
.enemyPokemons {
  width: 100%;
  height: 100%;
  margin: 10px 10px;
  transform-style: preserve-3d;
  transition: all 0.999s;
}

.pokemons:hover .userPokemons {
  transform: rotateY(180deg);
}

.enemy-pokemons:hover .enemyPokemons {
  transform: rotateY(180deg);
}

.pokemon-front,
.pokemon-back,
.enemy-pokemon-front,
.enemy-pokemon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokemon-front,
.enemy-pokemon-front {
  background-color: #400462;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #25033ba8;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  transform: rotateY(0deg);
}

.pokemon-back,
.enemy-pokemon-back {
  background-color: #063504;
  color: #fff;
  display: inline-block;
  align-items: center;
  border: 10px solid #144e0a;
  border-radius: 10px;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  transform: rotateY(180deg);
  left: -20px;
}

.locations h1 {
  position: relative;
  top: -50px;
  text-shadow: 1px 1px 2px rgb(239, 251, 5), 0 0 1em rgba(14, 243, 247, 0.775),
    0 0 0.2em rgba(7, 243, 239, 0.293);
  height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.users-pokemon {
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.winner {
  color: white;
}

.victory-bg {
  display: inline-block;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: calc(50%-300px);
  width: 600px;
  height: 700px;
  background-image: url('https://img.freepik.com/premium-vector/pixel-art-retro-wave-scifi-background-with-sunrise-sunset-pixel-art-80s-pixel-art-8bit-game_148553-568.jpg?w=826');
}

.loading-page {
  background-image: url("/public/pics/magicpattern-mesh-gradient-1706170069987.png");
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  color: aliceblue;
}
.loader {
  background-color: #ecf0f1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid #555;
  margin: calc 5px * 2;
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #4f037079;
  text-align: left;

  &__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  box-shadow: 0px 5px 20px -10px #111111;

  &:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000000;
    transform: translateY(-10px);
  }
}

.player-card {
  display: flex;
  position: absolute;
  left: 200px;
  width: 400px;
  height: 400px;
}

.enemy-card{
  display: flex;
  position: absolute;
  right: 150px;
  width: 400px;
  height: 400px;
}
.wrapper {
  display: grid;
  place-content: center;
  min-height: 25vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 5rem);
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, hsl(0, 0%, 100%) 65%);
  background: linear-gradient(177deg, rgba(255, 255, 255, 0.556) 53%, hsl(0, 0%, 100%) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
